<main class="container">

  <div *ngIf="!City" id="error" >Prognoza pogody dla wybranej miejscowości</div>

  <div id="content" *ngIf="City">
    <h2>
      <teximate text={{City.city.name}} [enter]="enterAnimation"></teximate>
    </h2>
    <p>Współrzędne geograficzne: {{GeoLat}} N, {{GeoLon}} E</p>
    <table class="table">
      <tr class="head">
        <td class="date">Data i godzina</td>
        <td>Temperatura <span id="unit">[&#176;C]</span></td>
        <td>Opady <span id="unit">[mm]</span></td>
        <td>Ciśnienie <span id="unit">[hPa]</span></td>
        <td>Prędkość wiatru <span id="unit">[m/s]</span></td>
      </tr>
      <tr *ngFor="let item of City.list; index as i;">

        <td class="date">{{DateChange(item.dt_txt)}}</td>
        <td> {{calculate(item.main.feels_like)}} </td>
        <td>{{item.rain?getRain(item.rain):"brak"}}</td>
        <td>{{item.main.pressure}}</td>
        <td>{{item.wind.speed}}</td>
      </tr>
    </table>

  </div>
</main>
