main{
  margin-top: 455px;
}

#logo{
  color:#007bff;
}
.active{
  color:red;
}

ul{
  display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

li{
  margin-left: 2px;
  margin-right: 2px;
}
