
<header id="MainDiv">
  <h1>Prognoza pogody na 5 dni</h1>

  <input type="text" [(ngModel)]="location" placeholder="podaj nazwę miejscowości" class="form-control">
  <br>
  <button class="btn btn-primary" (click)="handleSearch()">Sprawdź</button>


</header>
<div *ngIf="Error" id="error" class="alert alert-danger">{{Error}}</div>

<main id="content" *ngIf="City">
  <p>{{City.city.name}}</p>
  <p>Współrzędne geograficzne: {{GeoLat}} N, {{GeoLon}} E</p>
  <table class="table">
    <tr class="head">
      <td class="date">Data i godzina</td>
      <td>Temperatura <span id="unit">[&#176;C]</span></td>
      <td>Opady <span id="unit">[&#176;C]</span></td>
      <td>Ciśnienie <span id="unit">[hPa]</span></td>
      <td>Prędkość wiatru <span id="unit">[m/s]</span></td>
    </tr>
    <tr *ngFor="let item of City.list; index as i;">

      <td class="date">{{DateChange(item.dt_txt)}}</td>
      <td> {{calculate(item.main.feels_like)}} </td>
      <td>{{item.rain?getRain(item.rain):"brak"}}</td>
      <td>{{item.main.pressure}}</td>
      <td>{{item.wind.speed}}</td>
    </tr>
  </table>

</main>
