main{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 960px) {
  main{
    margin-top: 150px;
  }
  input{
    width:100%;
  }
  button{
    width:100%;
  }
  footer{
      display:none;
  }
}
